<div class="col-md">
        <div class="card">
                <div class="card-header text-center">
                        <h3>Registrarse</h3>
                </div>
                <div class="card-body">
                      
                </div>
        </div>
</div>